PORT=3000
NODE_ENV=development

DATABASE_URL=postgres://user:password@localhost:5432/dbname

POKEAPI_URL=https://pokeapi.co/api/v2/

BROKER_URL=amqp://localhost

SERVICE_A_BASE_URL=
SERVICE_A_API_KEY=

SERVICE_B_BASE_URL=
SERVICE_B_API_KEY=
